:root {
  /* Styling for the body */
  --body-background-light: #faf9f9;
  --body-background-dark: #818080;
  /* Styling for the border on the body selector */
  --body-border-light: #818080;
  --body-border-dark: #fff;
  /* Styling for the section backgrounds, footer backgrounds and other containers */
  --container-background-light: #fff;
  --container-background-dark: #000;
  /* Styling for the foreground color */
  --content-color-light: #000;
  --content-color-dark: #fff;
}

html, body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--body-background-light);
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: 3px solid var(--body-border-light);
}

header {
  margin: 30px auto;
  width: 100%;
}

header.default-header div {
  width: 50%;
  margin: 0px auto;
}

header.default-header .profile-image-container {
  width: 100%;
}

header.default-header .profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1.5px solid var(--body-border-light);
  object-fit: cover;
  object-position: center;
}

header.default-header .headline {
  text-decoration: underline;
  width: 187px;
}

header.shrinked-header .profile-image-container {
  width: 15%;
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

header.shrinked-header .profile-image {
  width: 100%;
  border-radius: 50%;
  border: 1.5px solid var(--body-border-light);
  object-fit: cover;
  object-position: center;
}

header.shrinked-header .headline {
  width: 50%;
  text-decoration: underline;
  font-size: 1.2rem;
  display: inline-block
}


.showMenu {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
}

section .sectionContainer {
  width: 80%;
  margin: 30px auto;
  font-size: 1.2rem;
  line-height: 30px;
  font-style: italic;
  font-weight: 700;
  padding: 30px;
  background: var(--container-background-light);
}



aside {
  display: none;
}

footer {
  width: 100%;
  background: var(--container-background-);
}

footer div {
  width: 70%;
  margin: 0px auto 30px; 
  text-align: center;
}

span.span {
  cursor: pointer;
  background: black;
  padding: 10px;
  border-radius: 30px;
  color: white;
  width: 30%;
  margin: 5px auto;
  display: block;
}

@media screen and (min-width: 700px) {

  header {
    margin: 30px auto;
    width: 100%;
  }  

  header.default-header div {
    width: 70%;
    margin: 20px auto;
  }
  
  header.default-header .profile-image-container {
    width: 50%;
    display: inline-block;
  }
  
  header.default-header .profile-image {
    width: 50%;
    border-radius: 50%;
    border: 1.5px solid var(--body-border-light);
    object-fit: cover;
    object-position: center;
  }
  
  header.default-header .headline {
    text-decoration: underline;
    display: inline-block;
    width: 50%;
  }

  .content_wrapper {
    width: 100%;
    position: relative;
  }

  .content_wrapper > * {
    margin: 0px 50px;
  }

  main {
    width: 70%
  }
  aside {
    width: 20%;
    height: 20vh;
    padding: 40px 0px;
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
  }

  /* This class is dynamically added when the header is no longer in view */
  .stickToTheTop {
    position: fixed;
    top: 0%
  }

  aside.asideContainer {
    height: 100%;
    margin: 50% auto 0px;
  }

  aside ul {
    list-style: none;
  }

  aside li {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 25px auto;
  }

  aside li a {
    padding: 10px 12px;
    text-decoration: underline;
    color: #818080;
  }

  aside li a.active {
    background: #818080;
    color: #fff;
  }

  section {
    width:90%;
    margin: 25px auto;
    background: #fff;
    border-radius: 5px solid white;
    padding: 20px 30px;
  }
}